# Lists

Python lists are containers to store a set of values of any data type.

In [7]:
mlist=["apple",55,"ok","apple"] #list allow duplicate elements
mlist

['apple', 55, 'ok', 'apple']

In [6]:
mlist2=list()
    
print(mlist2) #empty list

[]

In [13]:
# iterate over list
for u in mlist:
    print(u)

apple
55
ok
apple

In [14]:
#checking item exits in list?
if "banana"in mlist:
    print("exists")
else:
    print("does not exist")

does not exist

## List indexing  & slicing<br>
A list can be indexed just like a string:

In [39]:
#accessing list elements
print(mlist[0])
print(mlist[1])
print(mlist[-1])
print(mlist[-2])
print(mlist[0:3])
print(mlist[1:4]) # slicing [start_index:last_index] last_index excluded
print(mlist[2:5])
print(mlist[0:]) #print full to end
print(mlist[::2]) # with step size two
print(mlist[::-1]) #reverse a list

apple
55
apple
ok
['apple', 55, 'ok']
[55, 'ok', 'apple']
['ok', 'apple']
['apple', 55, 'ok', 'apple']
['apple', 'ok']
['apple', 'ok', 55, 'apple']

## List Methods

In [20]:
l1=["eat","sleep",2021,"python",12345]
l2=[1,5,3,7,9,6,5,65,42,-8,-2,-15,0]

### list.sort()

In [24]:
l2.sort() #sort numeric value in increasing order , NOTE: it changes your original list
print(l2)
# if you dont want to change your original list use sorted : new_list= sorted(l2)

#l1.sort() cannot sort becz cannot apply < or > between str and int
#print(l1)

[-15, -8, -2, 0, 1, 3, 5, 5, 6, 7, 9, 42, 65]

## list.append()

In [26]:
l1.append("wassup") #append add element at last index
print(l1)

['eat', 'sleep', 2021, 'python', 12345, 'wassup', 'wassup']

In [29]:
# append at specific index use insert
l1.insert(1,"Hii")
print(l1)

['eat', 'Hii', 'sleep', 2021, 'python', 12345, 'wassup']

### list.pop() & list.remove()

In [30]:
l1.pop(0) #pop delete element at given index in this case index 0
print(l1)

['Hii', 'sleep', 2021, 'python', 12345, 'wassup']

In [31]:
l1.remove(12345) #remove delete the element passed in this case 12345 no matter what index
print(l1)

['Hii', 'sleep', 2021, 'python', 'wassup']

In [32]:
# delete all emelnts from list with:
#list.clear()

## Reverse the list

In [33]:
l2.reverse()
print(l2)

[65, 42, 9, 7, 6, 5, 5, 3, 1, 0, -2, -8, -15]

## more trick

In [34]:
# if we want to make a list with same repeated values
l4=[1]*5
l4

[1, 1, 1, 1, 1]

In [35]:
#adding lists
l5=l2+l4

In [36]:
l5

[65, 42, 9, 7, 6, 5, 5, 3, 1, 0, -2, -8, -15, 1, 1, 1, 1, 1]

## List copying methods:

In [40]:
# 1 method
lst_org=["I","Love","Python",3000]
lst_copy1=lst_org.copy()
print(lst_copy1)

['I', 'Love', 'Python', 3000]

In [41]:
# 2 method
lst_copy2=list(lst_org)
print(lst_copy2)

['I', 'Love', 'Python', 3000]

In [42]:
# 3 method
lst_copy3=lst_org[:]
print(lst_copy3)

['I', 'Love', 'Python', 3000]

In [43]:
# making new string that contain square of original string
o=[1,5,9,8,7,6]
p=[i*i for i in o]
print(p)

[1, 25, 81, 64, 49, 36]

# Tuple <br>
A Tuple is similiar to list, the main differece is that tuple is immutable, once created then cannot be changed.

In [45]:
tple=() # empty tuple
t=("Data","Science",2021) #paranthesis is optinal but its better to understand
type(t)

tuple

In [46]:
tpl=("max",) # if the tuple has one element, its compulsary to put a ',' in the end other wise it consider as a string datatype.

In [48]:
#using builtin tuple to create
tple=tuple(["united","nations",300])
tple

('united', 'nations', 300)

In [49]:
print(tple[0])
print(tple[1])
print(tple[-1])
print(tple[-2])

united
nations
300
nations

In [50]:
tple[0]="America" #bcz tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [51]:
for i in tple:
    print(i)

united
nations
300

In [52]:
if 300 in tple:
    print("yes")
else:
    print("no")

yes

In [58]:
if 300 in tple:
    print("yes")
else:
    print("no")

yes

## Tuple methods

In [59]:
t1=("a","e","f","g","t","a")

### tuple.count()

In [60]:
print(t1.count("a")) # it will return number of times 'a' occurrerd in t1

2

### tuple.index()

In [61]:
t1.index("g")  #it will return the index of first occurence of g in  t1

3

## Conversion of Tuple to list and vice-versa

In [62]:
list100 = list(tple)
print(list100)

['united', 'nations', 300]

In [63]:
tple101 = tuple(list100)
print(tple101)

('united', 'nations', 300)

## Slicing with tuple

In [64]:
tpleNO = (1,2,3,4,5,6,7,8,9)
tpleslic = tpleNO [2:5]
print(tpleslic)

(3, 4, 5)

In [65]:
tpleNO[:8]

(1, 2, 3, 4, 5, 6, 7, 8)

In [66]:
tpleNO[::2]

(1, 3, 5, 7, 9)

In [67]:
tpleNO[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

### Unpacking tuple

In [68]:
mtuple = "Muhammad","Ali",56
name, age, wins = mtuple # Number on L.H.S should match with tuple variables/values
print(name)
print(age)
print(wins)

Muhammad
Ali
56

In [69]:
#unpacking more items with *
t2 = 1,2,3,4,5,6,7,8
i1,*i2,i3 = t2
print(i1) # gives first element
print(i3) # gives last element
print(i2) # gives in between all elements in the form of list

1
8
[2, 3, 4, 5, 6, 7]

## Comparing List and Tuple

In [70]:
import sys
list10 = [1, 2, 3, "hello", True]
tuple10 = (1, 2, 3, "hello", True)
print(sys.getsizeof(list10), "bytes") # List take more bytes than Tuple, even though-
print(sys.getsizeof(tuple10), "bytes") # - they have same data

96 bytes
80 bytes

In [ ]:
# also List take more time to create whereas Tuple can be created slightly quicker in the computer system.