# Dictionaries<br>
Dictionary is a collection of Key-Value pairs. <br>
Properties of dictionaries:<br>
It is unordered.<br>
It is mutable.<br>
It is indexed.<br>
Cannot contain duplicate keys.

In [1]:
dshnry={"name":"Muhammad Ali", "wins":56, "KO":37} # we can use int,tuple as key also! but not a lsit, list can use in value!bcz list is mutable!
print(dshnry)

{'name': 'Muhammad Ali', 'wins': 56, 'KO': 37}

In [2]:
# can also use in-built mthd dict to create a dictionary,- but it has slighty different syntax take a look:
dshnry2 = dict(name="The Weeknd", age=30, city="toronto")
print(dshnry2)

{'name': 'The Weeknd', 'age': 30, 'city': 'toronto'}

In [3]:
dshnry3 = {"name":"Python", "subject":5, "marks":[60,85,90,75]} # can use different datatype like list within dictionaries
dshnry3

{'name': 'Python', 'subject': 5, 'marks': [60, 85, 90, 75]}

In [4]:
# accessing values only through key, not with indexes like in list
print(dshnry["wins"])
print(dshnry2["name"])
print(dshnry3["marks"])
print(dshnry["KO"])

56
The Weeknd
[60, 85, 90, 75]
37

In [5]:
# dictionaries are mutable so we can add and remove pairs from it.
dshnry2["album"]="Starboy" #if we add another key of same name so it just overwrite the previous one because KEY cannot be duplicated, every pair has unique Key
print(dshnry2)

{'name': 'The Weeknd', 'age': 30, 'city': 'toronto', 'album': 'Starboy'}

## dictionaries methods

## .pop()

In [6]:
# deleting a pair; simply delete key associated with it by using pop command:
dshnry3.pop("subject")
print(dshnry3)

{'name': 'Python', 'marks': [60, 85, 90, 75]}

## .popitem()

In [7]:
#it delete the last inserted or last pair from the dictionary
dshnry2.popitem()
dshnry2

{'name': 'The Weeknd', 'age': 30, 'city': 'toronto'}

In [8]:
#print([0,[1,2,3,4,5][2],2][1]) # just some freecodecamp trivia question

3

## .items()

In [20]:
dshnry2.items() # returns a list of key:value tuple

dict_items([('name', 'The Weeknd'), ('age', 30), ('city', 'toronto')])

## .keys()

In [21]:
dshnry3.keys() #returns the key names

dict_keys(['name', 'marks'])

## .update({key:value})

In [22]:
dshnry3.update({"marks":[40,50,60]}) #update the pairs with supplied key and new value
dshnry3

{'name': 'Python', 'marks': [40, 50, 60]}

## .get("key")

In [23]:
dshnry.get("name") #returns the value associated with the key

'Muhammad Ali'

In [25]:
if "name" in dshnry: # with if 
    print(dshnry["name"])

Muhammad Ali

In [26]:
# with try except
try:
    print(dshnry["name"])
except:
    print("error")

Muhammad Ali

## loop in dictionary

In [27]:
for key in dshnry: # can use .key method above
    print(key)

name
wins
KO

In [29]:
# loop to get values
for value in dshnry.values():
    print(value)

Muhammad Ali
56
37

In [30]:
# both key and value together
for key,value in dshnry.items():
    print(key, value)

name Muhammad Ali
wins 56
KO 37

## copying

In [37]:
dshnry_cpy = dshnry # both are directing to same, be careful
dshnry_cpy

{'name': 'Muhammad Ali', 'wins': 56, 'KO': 37}

In [39]:
dshnry_cpy["name"] = "Greatest Muhammad Ali"  # remenber changing in copy of dictionary, changes the original dictionary also
print(dshnry_cpy)# copy
print(dshnry) #original

{'name': 'Greatest Muhammad Ali', 'wins': 56, 'KO': 37}
{'name': 'Greatest Muhammad Ali', 'wins': 56, 'KO': 37}

In [41]:
# If you dont want to change original use .copy
dshnry_cpy1 = dshnry.copy()
dshnry_cpy1["name"] = "Muhammad Ali" #using .copy() dont change the original dictionary
print(dshnry_cpy1)
print(dshnry)

{'name': 'Muhammad Ali', 'wins': 56, 'KO': 37}
{'name': 'Greatest Muhammad Ali', 'wins': 56, 'KO': 37}

In [42]:
# also if you use builtin function dict then it also dont change original, syntax: dict_copy = dict(original_dict)

# Sets

Sets is a collection of non repetive elemenyts<br>
Propeties:<br>
Sets are unordered<br>
Sets are uniordered<br>
Sets are mutable<br>
Elements order dosent matter<br>
There is no way to change items in sets<br>
Sets cannot contain duplicate values<br>
Cannot access element by index<br>

In [63]:
myset={1,5,8,8} #duplicate values as one
myset

{1, 5, 8}

In [47]:
myset1=set([1,23,56])
myset1

{1, 23, 56}

In [50]:
myset2=set("mississippi") # order is arbitary, order is not important and look there is only one i, m, p, s  printed, use get know how many letters are there in a word
myset2

{'i', 'm', 'p', 's'}

In [51]:
empty_set={} # this is dictionary
print(type(empty_set))
empty_set1=set() # use set() to create a empty set
print(type(empty_set1))

<class 'dict'>
<class 'set'>

## set methods

## .add()

In [52]:
empty_set1.add(5)
empty_set1.add(9)
empty_set1.add(6)
print(empty_set1)

{9, 5, 6}

## .remove()

In [54]:
empty_set1.remove(6) # it throws error if the element is not in set
empty_set1

{5, 9}

## .discard()

In [56]:
empty_set1.discard(9) # it does not throws error if element not found
empty_set1

{5}

## len()

In [57]:
len(myset)

3

## .remove()

In [64]:
myset.remove(5)

In [62]:
print(myset)

{8, 1}

## .pop()

In [66]:
myset.pop() #pop remove arbitrary value and also print it
myset

{1}

## .clear()

In [67]:
myset.clear() #empties the whole set 
myset

set()

## .union()

In [69]:
set1={1,5,9,6,7,3}
set2={2,4,6,8,7,0}
set1.union(set2) # join the given set to the set, but discarding the repetive value, does set theory union.

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## .intersection()

In [76]:
set1.intersection(set2) # returns a set whivh contain only common items in both set {gives new set}

{6, 7}

## .difference()

In [74]:
set1.difference(set2) # takes elements from the first set but not from second, also discard the common {gives new set}

{1, 3, 5, 9}

## .symmetric_difference()

In [75]:
set1.symmetric_difference(set2) # both elemnts, but not common {gives new set}

{0, 1, 2, 3, 4, 5, 8, 9}

## .issubset()

In [78]:
print(set1.issubset(set2)) # true if  all the element of first set are also the element of second set

False

## .issuperset()

In [79]:
print(set1.issuperset(set2)) # true if first set conatin all the elemnts of second set

False

## .isdisjoint()

In [80]:
print(set1.isdisjoint(set2)) #true if both sets have no same elemnts

False

# iteration

In [77]:
for i in set1:
    print(i)

1
3
5
6
7
9

In [72]:
if 10 in set1:
    print("yes")
else:
    print("no")

no

## Copying

In [81]:
seta={1,3,8,6,7,6}
setb=seta
print(setb)

{1, 3, 6, 7, 8}

In [82]:
setb.add(10) # original one get changed
print(seta)
print(setb)

{1, 3, 6, 7, 8, 10}
{1, 3, 6, 7, 8, 10}

In [83]:
setc= seta.copy() #does not change original set
setc.add(15)
print(setc)
print(seta)

{1, 3, 6, 7, 8, 10, 15}
{1, 3, 6, 7, 8, 10}

# Frozen set<br>
Immutable version pf set.

In [85]:
Fset=frozenset([1,2,3,4])
Fset

frozenset({1, 2, 3, 4})

In [86]:
Fset.add(2) # error bcz its immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# but union, disjoin, intersection methods can work.