# Pandas

Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks.<br>
It is built on top of another package named Numpy, which provides support for multi-dimensional arrays.
As one of the most popular data wrangling packages, Pandas works well with many other data science modules inside the Python ecosystem.<br>
and is typically included in every Python distribution, from those that come with your operating system to commercial vendor distributions like ActiveStateâ€™s ActivePython.

# What Can You Do With DataFrames Using Pandas?
Pandas makes it simple to do many of the time consuming, repetitive tasks associated with working with data, including:<br>

Data cleansing<br>
Data fill<br>
Data normalization<br>
Merges and joins<br>
Data visualization<br>
Statistical analysis<br>
Data inspection<br>
Loading and saving data<br>
And much more<br>

### Read more about Pandas on :
https://pandas.pydata.org/pandas-docs/stable/index.html<br>
https://www.activestate.com/resources/quick-reads/what-is-pandas-in-python-everything-you-need-to-know/

## The Dataset I am using is from Kaggle : 
https://www.kaggle.com/varpit94/uber-stock-data

In [1]:
import pandas as pd # the most powerful line :-)

In [2]:
df = pd.read_csv('UBER.csv') # loading data into pandas, csv= comma seprated values
print(df)

           Date       Open       High        Low      Close  Adj Close  \
0    2019-05-10  42.000000  45.000000  41.060001  41.570000  41.570000
1    2019-05-13  38.790001  39.240002  36.080002  37.099998  37.099998
2    2019-05-14  38.310001  39.959999  36.849998  39.959999  39.959999
3    2019-05-15  39.369999  41.880001  38.950001  41.290001  41.290001
4    2019-05-16  41.480000  44.060001  41.250000  43.000000  43.000000
..          ...        ...        ...        ...        ...        ...
600  2021-09-27  46.770000  47.430000  46.189999  47.250000  47.250000
601  2021-09-28  46.700001  47.000000  45.759998  45.980000  45.980000
602  2021-09-29  46.000000  46.529999  44.299999  44.520000  44.520000
603  2021-09-30  44.709999  45.365002  43.860001  44.799999  44.799999
604  2021-10-01  45.915001  47.250000  45.790001  47.049999  47.049999

        Volume
0    186322500
1     79442400
2     46661100
3     36086100
4     38115500
..         ...
600   23034800
601   23707900
602   24599500
603   16650600
604   25428283

[605 rows x 7 columns]

In [3]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500
5,2019-05-17,41.980000,43.290001,41.270000,41.910000,41.910000,20225700
6,2019-05-20,41.189999,41.680000,39.459999,41.590000,41.590000,29222300
7,2019-05-21,42.000000,42.240002,41.250000,41.500000,41.500000,10802900
8,2019-05-22,41.049999,41.279999,40.500000,41.250000,41.250000,9089500
9,2019-05-23,40.799999,41.090000,40.020000,40.470001,40.470001,11119900

In [4]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
595,2021-09-20,38.880001,40.220001,38.730000,39.790001,39.790001,35417600
596,2021-09-21,42.340000,45.000000,42.180000,44.360001,44.360001,106631700
597,2021-09-22,44.900002,46.619999,44.610001,44.869999,44.869999,56455100
598,2021-09-23,45.349998,45.840000,44.709999,45.480000,45.480000,26232800
599,2021-09-24,45.459999,47.044998,45.291000,46.630001,46.630001,29458300
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283

###  If data is not in csv file or in other format:
df_xlsx = pd.read_excel('UBER.xlsx') <br>
print(df_xlsx.head(3))<br>
you can use pandas built in function .read_excel to read xlsx file


df = pd.read_csv('pokemon_data.txt', delimiter='\t') for text files, \t is beacuse thats what seprater is used in data,
if seperator is 'xyz' you can use it to seprate data

# Reading Columns/ Headers

In [5]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
# reading specific column
print(df['Date'][0:5])

0    2019-05-10
1    2019-05-13
2    2019-05-14
3    2019-05-15
4    2019-05-16
Name: Date, dtype: object

In [12]:
# multiple colums
print(df[['Date', 'Open', 'Close']])

           Date       Open      Close
0    2019-05-10  42.000000  41.570000
1    2019-05-13  38.790001  37.099998
2    2019-05-14  38.310001  39.959999
3    2019-05-15  39.369999  41.290001
4    2019-05-16  41.480000  43.000000
..          ...        ...        ...
600  2021-09-27  46.770000  47.250000
601  2021-09-28  46.700001  45.980000
602  2021-09-29  46.000000  44.520000
603  2021-09-30  44.709999  44.799999
604  2021-10-01  45.915001  47.049999

[605 rows x 3 columns]

# Reading Rows

In [13]:
print(df.iloc[1])

Date         2019-05-13
Open              38.79
High              39.24
Low               36.08
Close              37.1
Adj Close          37.1
Volume         79442400
Name: 1, dtype: object

In [16]:
print(df.iloc[1:5])

         Date       Open       High        Low      Close  Adj Close    Volume
1  2019-05-13  38.790001  39.240002  36.080002  37.099998  37.099998  79442400
2  2019-05-14  38.310001  39.959999  36.849998  39.959999  39.959999  46661100
3  2019-05-15  39.369999  41.880001  38.950001  41.290001  41.290001  36086100
4  2019-05-16  41.480000  44.060001  41.250000  43.000000  43.000000  38115500

In [20]:
print(df.iloc[2,0]) # second row, 0th value

2019-05-14

In [21]:
print(df.iloc[2,1]) # second row, 1th value

38.310001

## Iterating Row by Row

In [22]:
for index, row in df.iterrows():
    print(index,row)

0 Date         2019-05-10
Open                 42
High                 45
Low               41.06
Close             41.57
Adj Close         41.57
Volume        186322500
Name: 0, dtype: object
1 Date         2019-05-13
Open              38.79
High              39.24
Low               36.08
Close              37.1
Adj Close          37.1
Volume         79442400
Name: 1, dtype: object
2 Date         2019-05-14
Open              38.31
High              39.96
Low               36.85
Close             39.96
Adj Close         39.96
Volume         46661100
Name: 2, dtype: object
3 Date         2019-05-15
Open              39.37
High              41.88
Low               38.95
Close             41.29
Adj Close         41.29
Volume         36086100
Name: 3, dtype: object
4 Date         2019-05-16
Open              41.48
High              44.06
Low               41.25
Close                43
Adj Close            43
Volume         38115500
Name: 4, dtype: object
5 Date         2019-05-17
Open              41.98
High              43.29
Low               41.27
Close             41.91
Adj Close         41.91
Volume         20225700
Name: 5, dtype: object
6 Date         2019-05-20
Open              41.19
High              41.68
Low               39.46
Close             41.59
Adj Close         41.59
Volume         29222300
Name: 6, dtype: object
7 Date         2019-05-21
Open                 42
High              42.24
Low               41.25
Close              41.5
Adj Close          41.5
Volume         10802900
Name: 7, dtype: object
8 Date         2019-05-22
Open              41.05
High              41.28
Low                40.5
Close             41.25
Adj Close         41.25
Volume          9089500
Name: 8, dtype: object
9 Date         2019-05-23
Open               40.8
High              41.09
Low               40.02
Close             40.47
Adj Close         40.47
Volume         11119900
Name: 9, dtype: object
10 Date         2019-05-24
Open              41.28
High              41.51
Low                40.5
Close             41.51
Adj Close         41.51
Volume          8786800
Name: 10, dtype: object
11 Date         2019-05-28
Open               41.7
High               41.8
Low                40.6
Close             40.95
Adj Close         40.95
Volume         13391600
Name: 11, dtype: object
12 Date         2019-05-29
Open              40.52
High              40.71
Low              39.147
Close             39.94
Adj Close         39.94
Volume         14060400
Name: 12, dtype: object
13 Date         2019-05-30
Open              40.07
High              40.38
Low                39.5
Close              39.8
Adj Close          39.8
Volume         26451900
Name: 13, dtype: object
14 Date         2019-05-31
Open              41.15
High              41.57
Low               39.41
Close             40.41
Adj Close         40.41
Volume         23209800
Name: 14, dtype: object
15 Date         2019-06-03
Open             40.744
High              41.85
Low               40.24
Close             41.25
Adj Close         41.25
Volume         16605300
Name: 15, dtype: object
16 Date         2019-06-04
Open              42.56
High              42.88
Low                40.7
Close             42.75
Adj Close         42.75
Volume         23432100
Name: 16, dtype: object
17 Date         2019-06-05
Open              42.87
High              45.66
Low                42.5
Close                45
Adj Close            45
Volume         28609600
Name: 17, dtype: object
18 Date         2019-06-06
Open                 45
High              45.75
Low               44.28
Close             44.92
Adj Close         44.92
Volume         16403700
Name: 18, dtype: object
19 Date         2019-06-07
Open              44.92
High              45.67
Low               44.13
Close             44.16
Adj Close         44.16
Volume         12654700
Name: 19, dtype: object
20 Date         2019-06-10
Open              44.02
High              44.59
Low               42.53
Close             42.61
Adj Close         42.61
Volume         11618700
Name: 20, dtype: object
21 Date         2019-06-11
Open              43.22
High              43.65
Low                41.8
Close             42.45
Adj Close         42.45
Volume          9095000
Name: 21, dtype: object
22 Date         2019-06-12
Open              42.52
High              42.65
Low               41.71
Close             42.17
Adj Close         42.17
Volume          5965300
Name: 22, dtype: object
23 Date         2019-06-13
Open              43.05
High              44.35
Low                42.8
Close             44.31
Adj Close         44.31
Volume         10178900
Name: 23, dtype: object
24 Date         2019-06-14
Open              44.75
High               44.8
Low               43.11
Close             43.23
Adj Close         43.23
Volume          7902200
Name: 24, dtype: object
25 Date         2019-06-17
Open              43.28
High             44.079
Low               42.93
Close             43.78
Adj Close         43.78
Volume          6557600
Name: 25, dtype: object
26 Date         2019-06-18
Open               44.3
High              44.89
Low               43.75
Close             43.86
Adj Close         43.86
Volume          7313600
Name: 26, dtype: object
27 Date         2019-06-19
Open              44.46
High               45.5
Low               43.95
Close             44.86
Adj Close         44.86
Volume         10331500
Name: 27, dtype: object
28 Date         2019-06-20
Open              45.03
High              45.29
Low               43.51
Close             43.86
Adj Close         43.86
Volume          9567400
Name: 28, dtype: object
29 Date         2019-06-21
Open              43.85
High              44.14
Low               43.38
Close                44
Adj Close            44
Volume          4974000
Name: 29, dtype: object
30 Date         2019-06-24
Open                 44
High              44.07
Low               42.82
Close             43.09
Adj Close         43.09
Volume          5985100
Name: 30, dtype: object
31 Date         2019-06-25
Open              43.28
High              43.79
Low              42.443
Close             43.09
Adj Close         43.09
Volume          5753300
Name: 31, dtype: object
32 Date         2019-06-26
Open              43.25
High               43.4
Low               42.36
Close              42.5
Adj Close          42.5
Volume          8109100
Name: 32, dtype: object
33 Date         2019-06-27
Open              43.35
High               45.3
Low                43.2
Close             45.13
Adj Close         45.13
Volume         20155100
Name: 33, dtype: object
34 Date         2019-06-28
Open               45.1
High              47.08
Low               45.08
Close             46.38
Adj Close         46.38
Volume         28657000
Name: 34, dtype: object
35 Date         2019-07-01
Open              46.98
High              47.04
Low               44.06
Close             44.27
Adj Close         44.27
Volume         17660500
Name: 35, dtype: object
36 Date         2019-07-02
Open              44.55
High              44.68
Low               43.75
Close                44
Adj Close            44
Volume         11881300
Name: 36, dtype: object
37 Date         2019-07-03
Open                 44
High              44.46
Low               43.79
Close             44.23
Adj Close         44.23
Volume          3380000
Name: 37, dtype: object
38 Date         2019-07-05
Open              44.31
High              44.55
Low               43.01
Close             43.53
Adj Close         43.53
Volume          8239500
Name: 38, dtype: object
39 Date         2019-07-08
Open              43.59
High              43.85
Low               42.75
Close             42.95
Adj Close         42.95
Volume          9304100
Name: 39, dtype: object
40 Date         2019-07-09
Open              43.18
High              44.23
Low               42.98
Close              44.2
Adj Close          44.2
Volume          5251600
Name: 40, dtype: object
41 Date         2019-07-10
Open              44.48
High               44.8
Low               43.56
Close              43.7
Adj Close          43.7
Volume          9746500
Name: 41, dtype: object
42 Date         2019-07-11
Open               44.1
High              44.29
Low               43.31
Close             43.99
Adj Close         43.99
Volume          8050900
Name: 42, dtype: object
43 Date         2019-07-12
Open              44.16
High              44.24
Low               43.39
Close             43.99
Adj Close         43.99
Volume          8760500
Name: 43, dtype: object
44 Date         2019-07-15
Open               44.2
High               44.7
Low               43.97
Close             44.53
Adj Close         44.53
Volume          5811200
Name: 44, dtype: object
45 Date         2019-07-16
Open               44.6
High              44.98
Low               44.02
Close             44.13
Adj Close         44.13
Volume          5613300
Name: 45, dtype: object
46 Date         2019-07-17
Open              44.06
High              44.35
Low               43.52
Close             43.62
Adj Close         43.62
Volume          5854100
Name: 46, dtype: object
47 Date         2019-07-18
Open               43.5
High              43.85
Low               43.19
Close             43.71
Adj Close         43.71
Volume          4078700
Name: 47, dtype: object
48 Date         2019-07-19
Open               43.9
High             44.086
Low               43.16
Close             43.18
Adj Close         43.18
Volume          4021000
Name: 48, dtype: object
49 Date         2019-07-22
Open              43.25
High              43.72
Low               43.01
Close             43.69
Adj Close         43.69
Volume          3815300
Name: 49, dtype: object
50 Date         2019-07-23
Open              43.75
High              44.31
Low               43.11
Close             43.36
Adj Close         43.36
Volume          5110100
Name: 50, dtype: object
51 Date         2019-07-24
Open              43.36
High              43.87
Low               43.36
Close             43.76
Adj Close         43.76
Volume          3775700
Name: 51, dtype: object
52 Date         2019-07-25
Open              43.72
High              43.96
Low               43.21
Close              43.4
Adj Close          43.4
Volume          4412000
Name: 52, dtype: object
53 Date         2019-07-26
Open              43.42
High              44.96
Low               43.39
Close             44.52
Adj Close         44.52
Volume          7598800
Name: 53, dtype: object
54 Date         2019-07-29
Open                 45
High             45.627
Low               43.12
Close             43.88
Adj Close         43.88
Volume          8652200
Name: 54, dtype: object
55 Date         2019-07-30
Open              43.71
High              43.74
Low               42.49
Close             42.59
Adj Close         42.59
Volume          7686300
Name: 55, dtype: object
56 Date         2019-07-31
Open               42.6
High              42.98
Low               41.84
Close             42.14
Adj Close         42.14
Volume          5970800
Name: 56, dtype: object
57 Date         2019-08-01
Open              42.14
High             42.536
Low                  41
Close             41.31
Adj Close         41.31
Volume          7349700
Name: 57, dtype: object
58 Date         2019-08-02
Open              41.03
High              41.06
Low               39.95
Close              40.4
Adj Close          40.4
Volume          8225700
Name: 58, dtype: object
59 Date         2019-08-05
Open              39.35
High              39.42
Low              38.433
Close             39.05
Adj Close         39.05
Volume          9799300
Name: 59, dtype: object
60 Date         2019-08-06
Open              39.68
High             40.808
Low               38.36
Close             39.15
Adj Close         39.15
Volume          8570300
Name: 60, dtype: object
61 Date         2019-08-07
Open              39.06
High              39.99
Low               38.32
Close              39.7
Adj Close          39.7
Volume          8896000
Name: 61, dtype: object
62 Date         2019-08-08
Open              41.98
High                 43
Low               41.25
Close             42.97
Adj Close         42.97
Volume         29610500
Name: 62, dtype: object
63 Date         2019-08-09
Open              39.56
High              40.68
Low               38.71
Close             40.05
Adj Close         40.05
Volume         35138800
Name: 63, dtype: object
64 Date         2019-08-12
Open              39.83
High              39.95
Low                  37
Close                37
Adj Close            37
Volume         21231300
Name: 64, dtype: object
65 Date         2019-08-13
Open                 37
High              37.46
Low               36.12
Close             36.45
Adj Close         36.45
Volume         18990600
Name: 65, dtype: object
66 Date         2019-08-14
Open                 36
High               36.3
Low               33.36
Close             33.96
Adj Close         33.96
Volume         24481600
Name: 66, dtype: object
67 Date         2019-08-15
Open              34.52
High              34.55
Low               32.92
Close             33.22
Adj Close         33.22
Volume         13265800
Name: 67, dtype: object
68 Date         2019-08-16
Open              33.46
High              35.48
Low                33.4
Close             35.23
Adj Close         35.23
Volume         13883200
Name: 68, dtype: object
69 Date         2019-08-19
Open              35.53
High               35.8
Low               34.37
Close             34.61
Adj Close         34.61
Volume         10853100
Name: 69, dtype: object
70 Date         2019-08-20
Open              34.48
High              36.07
Low               34.39
Close             35.29
Adj Close         35.29
Volume         10760700
Name: 70, dtype: object
71 Date         2019-08-21
Open               35.5
High              35.83
Low               34.75
Close             34.91
Adj Close         34.91
Volume          7923000
Name: 71, dtype: object
72 Date         2019-08-22
Open               34.8
High              34.91
Low               33.52
Close                34
Adj Close            34
Volume          8513300
Name: 72, dtype: object
73 Date         2019-08-23
Open              33.65
High              34.23
Low               33.12
Close             33.43
Adj Close         33.43
Volume          8160600
Name: 73, dtype: object
74 Date         2019-08-26
Open              33.67
High              33.83
Low               33.06
Close             33.31
Adj Close         33.31
Volume          5662500
Name: 74, dtype: object
75 Date         2019-08-27
Open              33.69
High              34.24
Low               32.98
Close             33.11
Adj Close         33.11
Volume          6574800
Name: 75, dtype: object
76 Date         2019-08-28
Open              32.56
High              33.05
Low               32.26
Close             32.59
Adj Close         32.59
Volume          6245500
Name: 76, dtype: object
77 Date         2019-08-29
Open               32.9
High               33.3
Low                32.6
Close             32.76
Adj Close         32.76
Volume          5772200
Name: 77, dtype: object
78 Date         2019-08-30
Open                 33
High              33.13
Low               32.04
Close             32.57
Adj Close         32.57
Volume          6628700
Name: 78, dtype: object
79 Date         2019-09-03
Open               32.1
High              32.53
Low              30.665
Close              30.7
Adj Close          30.7
Volume         12154000
Name: 79, dtype: object
80 Date         2019-09-04
Open              30.91
High              32.36
Low               30.85
Close             31.99
Adj Close         31.99
Volume         10357600
Name: 80, dtype: object
81 Date         2019-09-05
Open              32.33
High              33.03
Low               32.25
Close             32.51
Adj Close         32.51
Volume          7933300
Name: 81, dtype: object
82 Date         2019-09-06
Open              32.71
High              32.74
Low               31.41
Close             31.86
Adj Close         31.86
Volume          7036000
Name: 82, dtype: object
83 Date         2019-09-09
Open              32.05
High              32.39
Low               31.46
Close             32.24
Adj Close         32.24
Volume          7448400
Name: 83, dtype: object
84 Date         2019-09-10
Open                 32
High              33.74
Low               31.65
Close             33.51
Adj Close         33.51
Volume         10817100
Name: 84, dtype: object
85 Date         2019-09-11
Open              33.38
High              35.14
Low               33.02
Close                34
Adj Close            34
Volume         14715800
Name: 85, dtype: object
86 Date         2019-09-12
Open              34.14
High             34.486
Low               33.33
Close             34.07
Adj Close         34.07
Volume          7734800
Name: 86, dtype: object
87 Date         2019-09-13
Open              34.25
High             34.435
Low               32.94
Close             33.25
Adj Close         33.25
Volume          9428600
Name: 87, dtype: object
88 Date         2019-09-16
Open               33.6
High               34.8
Low               33.47
Close             34.43
Adj Close         34.43
Volume          7942600
Name: 88, dtype: object
89 Date         2019-09-17
Open              34.75
High              34.75
Low               33.55
Close             34.29
Adj Close         34.29
Volume          5561300
Name: 89, dtype: object
90 Date         2019-09-18
Open              34.35
High              34.89
Low               33.75
Close             34.26
Adj Close         34.26
Volume          6608300
Name: 90, dtype: object
91 Date         2019-09-19
Open               34.2
High              34.64
Low               33.68
Close             33.82
Adj Close         33.82
Volume          6869600
Name: 91, dtype: object
92 Date         2019-09-20
Open              33.98
High             34.217
Low                32.5
Close              32.6
Adj Close          32.6
Volume         11935400
Name: 92, dtype: object
93 Date         2019-09-23
Open              32.52
High              33.01
Low               32.06
Close                33
Adj Close            33
Volume          5513000
Name: 93, dtype: object
94 Date         2019-09-24
Open                 33
High             33.145
Low               31.01
Close              31.3
Adj Close          31.3
Volume         10579900
Name: 94, dtype: object
95 Date         2019-09-25
Open              31.27
High              31.72
Low               30.76
Close             31.68
Adj Close         31.68
Volume          7875000
Name: 95, dtype: object
96 Date         2019-09-26
Open              31.72
High              32.13
Low               31.13
Close             31.57
Adj Close         31.57
Volume          6058700
Name: 96, dtype: object
97 Date         2019-09-27
Open              31.71
High               31.9
Low               30.13
Close             30.29
Adj Close         30.29
Volume         11846700
Name: 97, dtype: object
98 Date         2019-09-30
Open               30.4
High             30.735
Low               30.17
Close             30.47
Adj Close         30.47
Volume          4986600
Name: 98, dtype: object
99 Date         2019-10-01
Open              30.37
High              30.51
Low               28.65
Close             29.15
Adj Close         29.15
Volume         13380200
Name: 99, dtype: object
100 Date         2019-10-02
Open              28.67
High              29.55
Low               28.31
Close                29
Adj Close            29
Volume          8782400
Name: 100, dtype: object
101 Date         2019-10-03
Open              28.97
High              29.88
Low               28.52
Close             29.72
Adj Close         29.72
Volume          9412000
Name: 101, dtype: object
102 Date         2019-10-04
Open               29.9
High              30.18
Low                28.9
Close             29.67

196 Date         2020-02-20
Open                 41
High              41.19
Low               39.85
Close             40.92
Adj Close         40.92
Volume         25446400
Name: 196, dtype: object
197 Date         2020-02-21
Open              40.89
High              40.89
Low               40.05
Close             40.72
Adj Close         40.72
Volume         20595500
Name: 197, dtype: object
198 Date         2020-02-24
Open              38.21
High              39.14
Low               37.75
Close             38.31
Adj Close         38.31
Volume         37123200
Name: 198, dtype: object
199 Date         2020-02-25
Open               38.9
High              39.15
Low                35.5
Close             35.89
Adj Close         35.89
Volume         49281600
Name: 199, dtype: object
200 Date         2020-02-26
Open              35.53
High             36.165
Low               33.89
Close             34.45
Adj Close         34.45
Volume         44051400
Name: 200, dtype: object
201 Date         2020-02-27
Open              32.03
High              34.16
Low               30.67
Close             32.45
Adj Close         32.45
Volume         66557200
Name: 201, dtype: object
202 Date         2020-02-28
Open              31.81
High              34.29
Low                  31
Close             33.87
Adj Close         33.87
Volume         52049300
Name: 202, dtype: object
203 Date         2020-03-02
Open              34.05
High              34.08
Low               31.74
Close             32.85
Adj Close         32.85
Volume         46662000
Name: 203, dtype: object
204 Date         2020-03-03
Open              34.02
High              34.18
Low                31.9
Close             33.04
Adj Close         33.04
Volume         35182400
Name: 204, dtype: object
205 Date         2020-03-04
Open              33.93
High              35.34
Low               32.28
Close             34.53
Adj Close         34.53
Volume         44738600
Name: 205, dtype: object
206 Date         2020-03-05
Open              33.47
High              33.57
Low               31.97
Close             32.21
Adj Close         32.21
Volume         32764500
Name: 206, dtype: object
207 Date         2020-03-06
Open              31.23
High              32.41
Low               30.45
Close             31.68
Adj Close         31.68
Volume         34808700
Name: 207, dtype: object
208 Date         2020-03-09
Open               28.5
High              30.32
Low               28.15
Close             28.17
Adj Close         28.17
Volume         37439200
Name: 208, dtype: object
209 Date         2020-03-10
Open              29.47
High              29.86
Low                  27
Close             28.97
Adj Close         28.97
Volume         36308300
Name: 209, dtype: object
210 Date         2020-03-11
Open              27.91
High              28.14
Low               25.61
Close             26.24
Adj Close         26.24
Volume         43067800
Name: 210, dtype: object
211 Date         2020-03-12
Open              23.26
High              24.69
Low               22.11
Close             22.61
Adj Close         22.61
Volume         54042000
Name: 211, dtype: object
212 Date         2020-03-13
Open              24.01
High              24.81
Low               21.13
Close              22.6
Adj Close          22.6
Volume         53844400
Name: 212, dtype: object
213 Date         2020-03-16
Open              20.15
High              21.49
Low                19.1
Close             20.29
Adj Close         20.29
Volume         56914000
Name: 213, dtype: object
214 Date         2020-03-17
Open              20.18
High              20.31
Low               18.01
Close             18.91
Adj Close         18.91
Volume         60003900
Name: 214, dtype: object
215 Date         2020-03-18
Open              17.76
High               17.8
Low               13.71
Close             14.82
Adj Close         14.82
Volume         78286200
Name: 215, dtype: object
216 Date         2020-03-19
Open              15.96
High              21.26
Low                15.7
Close             20.49
Adj Close         20.49
Volume         83988700
Name: 216, dtype: object
217 Date         2020-03-20
Open              22.53
High              23.89
Low               20.61
Close             21.33
Adj Close         21.33
Volume         76529700
Name: 217, dtype: object
218 Date         2020-03-23
Open              21.07
High              22.73
Low               19.73
Close              22.4
Adj Close          22.4
Volume         47787100
Name: 218, dtype: object
219 Date         2020-03-24
Open              24.41
High              26.84
Low               23.59
Close             26.39
Adj Close         26.39
Volume         58505000
Name: 219, dtype: object
220 Date         2020-03-25
Open              26.18
High              28.45
Low               25.31
Close             26.19
Adj Close         26.19
Volume         52473900
Name: 220, dtype: object
221 Date         2020-03-26
Open               26.6
High              28.44
Low               25.78
Close             28.12
Adj Close         28.12
Volume         41336400
Name: 221, dtype: object
222 Date         2020-03-27
Open              25.82
High              28.03
Low               25.07
Close             27.28
Adj Close         27.28
Volume         40292200
Name: 222, dtype: object
223 Date         2020-03-30
Open              26.33
High              28.39
Low               25.31
Close             27.83
Adj Close         27.83
Volume         37725700
Name: 223, dtype: object
224 Date         2020-03-31
Open              27.75
High              28.25
Low               26.92
Close             27.92
Adj Close         27.92
Volume         43126400
Name: 224, dtype: object
225 Date         2020-04-01
Open               26.5
High             26.767
Low               24.81
Close             25.42
Adj Close         25.42
Volume         38538400
Name: 225, dtype: object
226 Date         2020-04-02
Open              25.01
High               25.2
Low                  23
Close             23.68
Adj Close         23.68
Volume         35838200
Name: 226, dtype: object
227 Date         2020-04-03
Open              23.73
High              23.79
Low               21.67
Close             22.82
Adj Close         22.82
Volume         40572000
Name: 227, dtype: object
228 Date         2020-04-06
Open              24.13
High              26.09
Low               23.93
Close             25.99
Adj Close         25.99
Volume         34692600
Name: 228, dtype: object
229 Date         2020-04-07
Open              27.95
High              28.11
Low                25.5
Close             25.74
Adj Close         25.74
Volume         36433800
Name: 229, dtype: object
230 Date         2020-04-08
Open                 26
High             27.878
Low               25.79
Close             26.94
Adj Close         26.94
Volume         36166900
Name: 230, dtype: object
231 Date         2020-04-09
Open              27.88
High              28.89
Low               26.46
Close             27.11
Adj Close         27.11
Volume         36190200
Name: 231, dtype: object
232 Date         2020-04-13
Open              27.04
High              28.08
Low               26.47
Close             27.99
Adj Close         27.99
Volume         24671600
Name: 232, dtype: object
233 Date         2020-04-14
Open                 28
High              28.77
Low              27.013
Close             27.75
Adj Close         27.75
Volume         32625300
Name: 233, dtype: object
234 Date         2020-04-15
Open              26.82
High              27.79
Low               26.44
Close             27.41
Adj Close         27.41
Volume         18720900
Name: 234, dtype: object
235 Date         2020-04-16
Open              27.21
High              28.05
Low               26.46
Close             27.03
Adj Close         27.03
Volume         24088700
Name: 235, dtype: object
236 Date         2020-04-17
Open              28.69
High              28.79
Low               27.26
Close                28
Adj Close            28
Volume         34129800
Name: 236, dtype: object
237 Date         2020-04-20
Open              27.07
High              28.76
Low                26.9
Close             28.19
Adj Close         28.19
Volume         32224000
Name: 237, dtype: object
238 Date         2020-04-21
Open               27.5
High              28.15
Low                26.6
Close             27.19
Adj Close         27.19
Volume         20969100
Name: 238, dtype: object
239 Date         2020-04-22
Open              27.97
High              28.56
Low               27.51
Close             28.24
Adj Close         28.24
Volume         21199400
Name: 239, dtype: object
240 Date         2020-04-23
Open              28.75
High              29.25
Low              28.241
Close             28.33
Adj Close         28.33
Volume         26992400
Name: 240, dtype: object
241 Date         2020-04-24
Open              28.51
High              29.59
Low               28.14
Close             29.49
Adj Close         29.49
Volume         20634900
Name: 241, dtype: object
242 Date         2020-04-27
Open              29.74
High              30.49
Low              29.411
Close             30.08
Adj Close         30.08
Volume         31705800
Name: 242, dtype: object
243 Date         2020-04-28
Open                 31
High              31.83
Low               29.36
Close             30.12
Adj Close         30.12
Volume         27383200
Name: 243, dtype: object
244 Date         2020-04-29
Open                 31
High                 32
Low               30.33
Close             31.37
Adj Close         31.37
Volume         28288100
Name: 244, dtype: object
245 Date         2020-04-30
Open               30.5
High              31.05
Low               29.75
Close             30.27
Adj Close         30.27
Volume         20095400
Name: 245, dtype: object
246 Date         2020-05-01
Open              29.13
High              29.72
Low              28.325
Close             28.39
Adj Close         28.39
Volume         19290200
Name: 246, dtype: object
247 Date         2020-05-04
Open              27.56
High              28.07
Low               26.58
Close             27.42
Adj Close         27.42
Volume         23428300
Name: 247, dtype: object
248 Date         2020-05-05
Open              28.25
High             28.909
Low               27.44
Close             28.07
Adj Close         28.07
Volume         30725400
Name: 248, dtype: object
249 Date         2020-05-06
Open               27.5
High              28.06
Low               26.81
Close             27.82
Adj Close         27.82
Volume         31076500
Name: 249, dtype: object
250 Date         2020-05-07
Open               29.6
High              31.65
Low               29.58
Close             30.93
Adj Close         30.93
Volume         62229500
Name: 250, dtype: object
251 Date         2020-05-08
Open              32.59
High               33.3
Low               31.64
Close             32.79
Adj Close         32.79
Volume         69458100
Name: 251, dtype: object
252 Date         2020-05-11
Open              31.98
High             32.385
Low               31.41
Close             31.64
Adj Close         31.64
Volume         26439200
Name: 252, dtype: object
253 Date         2020-05-12
Open              31.42
High              34.45
Low               30.41
Close              32.4
Adj Close          32.4
Volume         89586000
Name: 253, dtype: object
254 Date         2020-05-13
Open               32.3
High              33.06
Low               30.83
Close             33.02
Adj Close         33.02
Volume         47279500
Name: 254, dtype: object
255 Date         2020-05-14
Open              32.53
High              33.04
Low               31.24
Close             32.79
Adj Close         32.79
Volume         32912600
Name: 255, dtype: object
256 Date         2020-05-15
Open              32.26
High              32.89
Low               31.59
Close             32.47
Adj Close         32.47
Volume         25950000
Name: 256, dtype: object
257 Date         2020-05-18
Open               33.7
High                 36
Low               32.99
Close             33.62
Adj Close         33.62
Volume         47534600
Name: 257, dtype: object
258 Date         2020-05-19
Open              33.68
High                 34
Low               32.86
Close              33.4
Adj Close          33.4
Volume         20223600
Name: 258, dtype: object
259 Date         2020-05-20
Open              34.12
High              34.77
Low               33.82
Close             34.48
Adj Close         34.48
Volume         21386700
Name: 259, dtype: object
260 Date         2020-05-21
Open              34.45
High              35.01
Low               33.47
Close             34.26
Adj Close         34.26
Volume         24075300
Name: 260, dtype: object
261 Date         2020-05-22
Open              34.15
High              34.93
Low               33.57
Close             34.83
Adj Close         34.83
Volume         18675700
Name: 261, dtype: object
262 Date         2020-05-26
Open              35.97
High                 36
Low                34.5
Close             34.56
Adj Close         34.56
Volume         23483200
Name: 262, dtype: object
263 Date         2020-05-27
Open              34.42
High                 35
Low                33.1
Close             34.88
Adj Close         34.88
Volume         27514600
Name: 263, dtype: object
264 Date         2020-05-28
Open               34.9
High               35.1
Low               33.82
Close             34.15
Adj Close         34.15
Volume         21951900
Name: 264, dtype: object
265 Date         2020-05-29
Open              34.18
High              36.45
Low                  34
Close             36.32
Adj Close         36.32
Volume         72393800
Name: 265, dtype: object
266 Date         2020-06-01
Open              35.64
High              36.39
Low               35.16
Close             35.82
Adj Close         35.82
Volume         21893800
Name: 266, dtype: object
267 Date         2020-06-02
Open              36.16
High              36.42
Low               35.26
Close             35.81
Adj Close         35.81
Volume         19328400
Name: 267, dtype: object
268 Date         2020-06-03
Open               36.2
High             37.368
Low               36.14
Close             36.75
Adj Close         36.75
Volume         23051800
Name: 268, dtype: object
269 Date         2020-06-04
Open              36.42
High               37.3
Low               36.28
Close             36.43
Adj Close         36.43
Volume         17423600
Name: 269, dtype: object
270 Date         2020-06-05
Open              37.53
High             38.783
Low               36.92
Close             37.21
Adj Close         37.21
Volume         30393400
Name: 270, dtype: object
271 Date         2020-06-08
Open              37.87
High               37.9
Low               36.09
Close             37.08
Adj Close         37.08
Volume         30099500
Name: 271, dtype: object
272 Date         2020-06-09
Open               36.7
High              37.33
Low               36.25
Close             36.59
Adj Close         36.59
Volume         15127300
Name: 272, dtype: object
273 Date         2020-06-10
Open              36.69
High               36.8
Low              34.265
Close             34.83
Adj Close         34.83
Volume         43473700
Name: 273, dtype: object
274 Date         2020-06-11
Open              32.63
High             33.245
Low               30.89
Close              31.1
Adj Close          31.1
Volume         45298700
Name: 274, dtype: object
275 Date         2020-06-12
Open              32.73
High              32.74
Low               31.04
Close             32.24
Adj Close         32.24
Volume         27685200
Name: 275, dtype: object
276 Date         2020-06-15
Open              31.16
High              32.68
Low               31.02
Close             32.67
Adj Close         32.67
Volume         21350300
Name: 276, dtype: object
277 Date         2020-06-16
Open                 34
High              34.17
Low               32.43
Close             33.49
Adj Close         33.49
Volume         21377100
Name: 277, dtype: object
278 Date         2020-06-17
Open               33.5
High             33.595
Low              33.011
Close             33.29
Adj Close         33.29
Volume         14827700
Name: 278, dtype: object
279 Date         2020-06-18
Open                 33
High              33.44
Low                32.8
Close              33.4
Adj Close          33.4
Volume         15495800
Name: 279, dtype: object
280 Date         2020-06-19
Open              33.98
High              34.02
Low               32.27
Close              32.3
Adj Close          32.3
Volume         29426300
Name: 280, dtype: object
281 Date         2020-06-22
Open              32.43
High              32.85
Low               31.43
Close             32.68
Adj Close         32.68
Volume         17790300
Name: 281, dtype: object
282 Date         2020-06-23
Open              32.88
High              33.21
Low               32.59
Close             33.05
Adj Close         33.05
Volume         13622100
Name: 282, dtype: object
283 Date         2020-06-24
Open              32.75
High              32.93
Low              30.455
Close             30.46
Adj Close         30.46
Volume         29477200
Name: 283, dtype: object
284 Date         2020-06-25
Open                 30
High             30.855
Low               29.56
Close             30.58
Adj Close         30.58
Volume         19142800
Name: 284, dtype: object
285 Date         2020-06-26
Open              30.44
High              30.44
Low               29.21
Close             29.61
Adj Close         29.61
Volume         46482300
Name: 285, dtype: object
286 Date         2020-06-29
Open              29.51
High              29.75
Low               28.39
Close             29.63
Adj Close         29.63
Volume         20795400
Name: 286, dtype: object
287 Date         2020-06-30
Open              30.83
High              31.25
Low               30.13
Close             31.08
Adj Close         31.08
Volume         21282800
Name: 287, dtype: object
288 Date         2020-07-01
Open              30.96
High             31.265
Low              30.162
Close             30.43
Adj Close         30.43
Volume         13611500
Name: 288, dtype: object
289 Date         2020-07-02
Open              31.02
High              31.57
Low               30.51
Close             30.68
Adj Close         30.68
Volume         14981100
Name: 289, dtype: object
290 Date         2020-07-06
Open               33.1
High               33.2
Low               31.76
Close             32.52
Adj Close         32.52
Volume         42392200
Name: 290, dtype: object
291 Date         2020-07-07
Open              32.46
High              33.56
Low               32.39
Close             32.82
Adj Close         32.82
Volume         34874700
Name: 291, dtype: object
292 Date         2020-07-08
Open              33.21
High              33.97
Low               32.68
Close             33.93
Adj Close         33.93
Volume         24602400
Name: 292, dtype: object
293 Date         2020-07-09
Open              34.24
High              34.46
Low               32.26
Close             33.15
Adj Close         33.15
Volume         25061800
Name: 293, dtype: object
294 Date         2020-07-10
Open              33.14
High              33.55
Low               32.65
Close             33.14
Adj Close         33.14
Volume         13586300
Name: 294, dtype: object
295 Date         2020-07-13
Open              33.21
High               33.6
Low               31.66
Close             31.72
Adj Close         31.72
Volume         19604800
Name: 295, dtype: object
296 Date         2020-07-14
Open              31.35
High              31.38
Low               30.48
Close             30.93
Adj Close         30.93
Volume         21781800
Name: 296, dtype: object
297 Date         2020-07-15
Open               32.1
High              32.97
Low               31.68

362 Date         2020-10-15
Open              34.68
High              34.81
Low               34.02
Close             34.26
Adj Close         34.26
Volume         15443800
Name: 362, dtype: object
363 Date         2020-10-16
Open              34.78
High               34.8
Low               33.61
Close             33.72
Adj Close         33.72
Volume         14899700
Name: 363, dtype: object
364 Date         2020-10-19
Open              34.16
High              34.59
Low                  34
Close             34.22
Adj Close         34.22
Volume         19278600
Name: 364, dtype: object
365 Date         2020-10-20
Open              34.53
High              36.76
Low               34.53
Close             36.31
Adj Close         36.31
Volume         29820700
Name: 365, dtype: object
366 Date         2020-10-21
Open              36.25
High              36.25
Low              34.875
Close              35.2
Adj Close          35.2
Volume         19058700
Name: 366, dtype: object
367 Date         2020-10-22
Open              35.42
High              36.89
Low              34.915
Close              36.7
Adj Close          36.7
Volume         14243600
Name: 367, dtype: object
368 Date         2020-10-23
Open               36.5
High              36.99
Low              35.924
Close             36.75
Adj Close         36.75
Volume         15960600
Name: 368, dtype: object
369 Date         2020-10-26
Open               36.5
High              36.74
Low               35.12
Close             35.49
Adj Close         35.49
Volume         12511700
Name: 369, dtype: object
370 Date         2020-10-27
Open              35.51
High               35.7
Low               34.02
Close             34.16
Adj Close         34.16
Volume         13692100
Name: 370, dtype: object
371 Date         2020-10-28
Open              33.62
High              33.66
Low                32.9
Close             33.65
Adj Close         33.65
Volume         15787900
Name: 371, dtype: object
372 Date         2020-10-29
Open              33.71
High             34.935
Low               33.33
Close             34.06
Adj Close         34.06
Volume         13735300
Name: 372, dtype: object
373 Date         2020-10-30
Open              33.91
High              34.39
Low              33.155
Close             33.41
Adj Close         33.41
Volume         13506200
Name: 373, dtype: object
374 Date         2020-11-02
Open              34.15
High              35.05
Low               34.06
Close             34.81
Adj Close         34.81
Volume         18350500
Name: 374, dtype: object
375 Date         2020-11-03
Open              35.27
High              36.15
Low               35.15
Close             35.77
Adj Close         35.77
Volume         16208800
Name: 375, dtype: object
376 Date         2020-11-04
Open              40.66
High              42.15
Low                  39
Close             40.99
Adj Close         40.99
Volume        101818200
Name: 376, dtype: object
377 Date         2020-11-05
Open              40.33
High              42.05
Low               40.01
Close             41.96
Adj Close         41.96
Volume         34177600
Name: 377, dtype: object
378 Date         2020-11-06
Open              42.09
High              45.38
Low               41.62
Close             44.87
Adj Close         44.87
Volume         57670700
Name: 378, dtype: object
379 Date         2020-11-09
Open              48.01
High              49.62
Low                47.3
Close             48.18
Adj Close         48.18
Volume         61632300
Name: 379, dtype: object
380 Date         2020-11-10
Open              46.74
High              49.36
Low              46.045
Close                47
Adj Close            47
Volume         33079800
Name: 380, dtype: object
381 Date         2020-11-11
Open              46.72
High              47.52
Low               45.91
Close             46.23
Adj Close         46.23
Volume         19213700
Name: 381, dtype: object
382 Date         2020-11-12
Open              45.39
High              47.47
Low               45.05
Close              46.4
Adj Close          46.4
Volume         16251600
Name: 382, dtype: object
383 Date         2020-11-13
Open              47.11
High              47.79
Low               45.93
Close             47.61
Adj Close         47.61
Volume         15552400
Name: 383, dtype: object
384 Date         2020-11-16
Open              48.74
High              50.09
Low               48.48
Close             49.21
Adj Close         49.21
Volume         29301700
Name: 384, dtype: object
385 Date         2020-11-17
Open              48.72
High              49.62
Low                48.5
Close             48.89
Adj Close         48.89
Volume         16638300
Name: 385, dtype: object
386 Date         2020-11-18
Open              48.77
High              49.95
Low               48.33
Close             49.11
Adj Close         49.11
Volume         17783500
Name: 386, dtype: object
387 Date         2020-11-19
Open               49.1
High              49.91
Low               48.65
Close             49.26
Adj Close         49.26
Volume         13480300
Name: 387, dtype: object
388 Date         2020-11-20
Open              49.98
High              50.75
Low               48.27
Close             48.43
Adj Close         48.43
Volume         17330400
Name: 388, dtype: object
389 Date         2020-11-23
Open              48.66
High              50.88
Low               48.51
Close             50.04
Adj Close         50.04
Volume         17147100
Name: 389, dtype: object
390 Date         2020-11-24
Open              50.62
High              52.15
Low              50.484
Close             51.26
Adj Close         51.26
Volume         16216200
Name: 390, dtype: object
391 Date         2020-11-25
Open              51.27
High              51.45
Low               49.92
Close              50.8
Adj Close          50.8
Volume         11641600
Name: 391, dtype: object
392 Date         2020-11-27
Open              50.93
High              51.19
Low                50.2
Close             50.72
Adj Close         50.72
Volume          8339200
Name: 392, dtype: object
393 Date         2020-11-30
Open              50.22
High             51.005
Low               48.53
Close             49.66
Adj Close         49.66
Volume         17221500
Name: 393, dtype: object
394 Date         2020-12-01
Open                 50
High              51.41
Low               49.07
Close             49.63
Adj Close         49.63
Volume         20605500
Name: 394, dtype: object
395 Date         2020-12-02
Open              49.26
High              53.45
Low               48.53
Close             53.09
Adj Close         53.09
Volume         30381500
Name: 395, dtype: object
396 Date         2020-12-03
Open               53.3
High              53.49
Low               52.12
Close             52.52
Adj Close         52.52
Volume         13122400
Name: 396, dtype: object
397 Date         2020-12-04
Open              52.71
High              54.86
Low               52.71
Close             54.86
Adj Close         54.86
Volume         22207900
Name: 397, dtype: object
398 Date         2020-12-07
Open              54.59
High              54.87
Low               53.65
Close              53.8
Adj Close          53.8
Volume         13764400
Name: 398, dtype: object
399 Date         2020-12-08
Open               52.4
High              54.22
Low               52.35
Close             53.01
Adj Close         53.01
Volume         26167300
Name: 399, dtype: object
400 Date         2020-12-09
Open              53.98
High              56.02
Low               53.06
Close             53.79
Adj Close         53.79
Volume         46777900
Name: 400, dtype: object
401 Date         2020-12-10
Open              52.33
High              54.62
Low                51.3
Close             54.35
Adj Close         54.35
Volume         20207700
Name: 401, dtype: object
402 Date         2020-12-11
Open              54.47
High             55.025
Low               52.33
Close             52.63
Adj Close         52.63
Volume         16817900
Name: 402, dtype: object
403 Date         2020-12-14
Open              53.27
High              53.44
Low               51.24
Close             51.46
Adj Close         51.46
Volume         19048500
Name: 403, dtype: object
404 Date         2020-12-15
Open              52.12
High             52.825
Low               50.87
Close                51
Adj Close            51
Volume         17504700
Name: 404, dtype: object
405 Date         2020-12-16
Open              51.18
High              51.68
Low               50.29
Close             50.49
Adj Close         50.49
Volume         19577800
Name: 405, dtype: object
406 Date         2020-12-17
Open              50.59
High               51.3
Low               50.17
Close             50.63
Adj Close         50.63
Volume         19688300
Name: 406, dtype: object
407 Date         2020-12-18
Open              50.81
High              50.95
Low               49.52
Close             50.62
Adj Close         50.62
Volume         24355200
Name: 407, dtype: object
408 Date         2020-12-21
Open                 49
High              52.35
Low               48.79
Close              51.8
Adj Close          51.8
Volume         23562900
Name: 408, dtype: object
409 Date         2020-12-22
Open              52.11
High              54.36
Low               51.92
Close             53.78
Adj Close         53.78
Volume         23871800
Name: 409, dtype: object
410 Date         2020-12-23
Open               53.8
High              54.09
Low               52.99
Close             53.71
Adj Close         53.71
Volume         12671100
Name: 410, dtype: object
411 Date         2020-12-24
Open               53.6
High             53.625
Low               52.29
Close             52.88
Adj Close         52.88
Volume          6316800
Name: 411, dtype: object
412 Date         2020-12-28
Open              53.02
High              53.13
Low               51.56
Close             51.97
Adj Close         51.97
Volume         12059000
Name: 412, dtype: object
413 Date         2020-12-29
Open              52.33
High              52.99
Low               51.47
Close             52.27
Adj Close         52.27
Volume         10140600
Name: 413, dtype: object
414 Date         2020-12-30
Open              52.72
High              53.85
Low               52.22
Close             53.15
Adj Close         53.15
Volume          9518600
Name: 414, dtype: object
415 Date         2020-12-31
Open              53.28
High              53.28
Low                  51
Close                51
Adj Close            51
Volume         13282800
Name: 415, dtype: object
416 Date         2021-01-04
Open              52.22
High              52.32
Low              49.635
Close             51.14
Adj Close         51.14
Volume         17291800
Name: 416, dtype: object
417 Date         2021-01-05
Open                 51
High              54.19
Low               50.76
Close             54.01
Adj Close         54.01
Volume         21403200
Name: 417, dtype: object
418 Date         2021-01-06
Open              53.31
High              54.07
Low                  52
Close             52.48
Adj Close         52.48
Volume         17738100
Name: 418, dtype: object
419 Date         2021-01-07
Open              53.37
High              56.25
Low                53.2
Close             56.13
Adj Close         56.13
Volume         23737500
Name: 419, dtype: object
420 Date         2021-01-08
Open             54.395
High              54.79
Low               52.58
Close             53.28
Adj Close         53.28
Volume         37999400
Name: 420, dtype: object
421 Date         2021-01-11
Open              53.11
High                 55
Low               52.99
Close             54.59
Adj Close         54.59
Volume         23213800
Name: 421, dtype: object
422 Date         2021-01-12
Open               55.5
High              59.39
Low                  55
Close             58.54
Adj Close         58.54
Volume         52128200
Name: 422, dtype: object
423 Date         2021-01-13
Open              58.54
High              59.88
Low               57.53
Close              59.4
Adj Close          59.4
Volume         24178500
Name: 423, dtype: object
424 Date         2021-01-14
Open                 60
High              60.03
Low                56.7
Close             56.91
Adj Close         56.91
Volume         26561000
Name: 424, dtype: object
425 Date         2021-01-15
Open              57.49
High               57.9
Low                  55
Close             55.52
Adj Close         55.52
Volume         23708800
Name: 425, dtype: object
426 Date         2021-01-19
Open              56.39
High             56.842
Low                  55
Close              56.3
Adj Close          56.3
Volume         16953700
Name: 426, dtype: object
427 Date         2021-01-20
Open                 57
High              57.98
Low               55.47
Close             56.38
Adj Close         56.38
Volume         16904300
Name: 427, dtype: object
428 Date         2021-01-21
Open              56.57
High                 57
Low              55.314
Close             55.79
Adj Close         55.79
Volume         13432000
Name: 428, dtype: object
429 Date         2021-01-22
Open              55.25
High              55.47
Low               54.01
Close             54.31
Adj Close         54.31
Volume         19570500
Name: 429, dtype: object
430 Date         2021-01-25
Open               54.5
High              54.52
Low               49.65
Close             54.29
Adj Close         54.29
Volume         40890100
Name: 430, dtype: object
431 Date         2021-01-26
Open              54.62
High              55.52
Low               51.53
Close             51.92
Adj Close         51.92
Volume         25677000
Name: 431, dtype: object
432 Date         2021-01-27
Open              49.97
High              50.86
Low               47.15
Close             48.11
Adj Close         48.11
Volume         33283400
Name: 432, dtype: object
433 Date         2021-01-28
Open              50.12
High              52.52
Low               49.88
Close             51.58
Adj Close         51.58
Volume         28114700
Name: 433, dtype: object
434 Date         2021-01-29
Open              50.63
High              51.49
Low              49.635
Close             50.93
Adj Close         50.93
Volume         18743200
Name: 434, dtype: object
435 Date         2021-02-01
Open              52.12
High               52.9
Low               51.35
Close             52.76
Adj Close         52.76
Volume         15570900
Name: 435, dtype: object
436 Date         2021-02-02
Open              55.11
High              58.03
Low               54.89
Close             56.46
Adj Close         56.46
Volume         30286800
Name: 436, dtype: object
437 Date         2021-02-03
Open              57.87
High              58.13
Low               56.74
Close             57.12
Adj Close         57.12
Volume         13519000
Name: 437, dtype: object
438 Date         2021-02-04
Open              56.45
High              57.85
Low               56.11
Close             57.85
Adj Close         57.85
Volume         13841600
Name: 438, dtype: object
439 Date         2021-02-05
Open              58.16
High             58.708
Low               57.37
Close             58.58
Adj Close         58.58
Volume         15729200
Name: 439, dtype: object
440 Date         2021-02-08
Open               59.7
High              60.11
Low               58.69
Close             59.29
Adj Close         59.29
Volume         18403700
Name: 440, dtype: object
441 Date         2021-02-09
Open              58.91
High              61.06
Low               58.62
Close             59.61
Adj Close         59.61
Volume         23510700
Name: 441, dtype: object
442 Date         2021-02-10
Open                 62
High               63.5
Low                60.8
Close             63.18
Adj Close         63.18
Volume         36972900
Name: 442, dtype: object
443 Date         2021-02-11
Open              63.25
High              64.05
Low              60.395
Close             60.71
Adj Close         60.71
Volume         41363400
Name: 443, dtype: object
444 Date         2021-02-12
Open              60.12
High              60.93
Low              59.315
Close             60.63
Adj Close         60.63
Volume         14607800
Name: 444, dtype: object
445 Date         2021-02-16
Open              61.02
High              61.31
Low               59.84
Close             60.52
Adj Close         60.52
Volume         15413100
Name: 445, dtype: object
446 Date         2021-02-17
Open              60.33
High              60.95
Low               58.95
Close             60.81
Adj Close         60.81
Volume         12670000
Name: 446, dtype: object
447 Date         2021-02-18
Open                 60
High              60.29
Low               58.23
Close                59
Adj Close            59
Volume         15135600
Name: 447, dtype: object
448 Date         2021-02-19
Open              58.36
High             60.457
Low              58.113
Close             58.39
Adj Close         58.39
Volume         28097000
Name: 448, dtype: object
449 Date         2021-02-22
Open              57.76
High               58.1
Low              54.816
Close             55.31
Adj Close         55.31
Volume         25565400
Name: 449, dtype: object
450 Date         2021-02-23
Open               53.5
High              56.37
Low               51.89
Close                56
Adj Close            56
Volume         23947500
Name: 450, dtype: object
451 Date         2021-02-24
Open              54.95
High              55.15
Low               53.66
Close             53.91
Adj Close         53.91
Volume         24627000
Name: 451, dtype: object
452 Date         2021-02-25
Open              54.58
High               54.6
Low               50.86
Close             51.45
Adj Close         51.45
Volume         27049100
Name: 452, dtype: object
453 Date         2021-02-26
Open              52.07
High              52.75
Low               50.61
Close             51.75
Adj Close         51.75
Volume         16349800
Name: 453, dtype: object
454 Date         2021-03-01
Open              53.67
High              54.76
Low                53.3
Close              54.4
Adj Close          54.4
Volume         18481100
Name: 454, dtype: object
455 Date         2021-03-02
Open              55.54
High              55.62
Low              54.189
Close             54.65
Adj Close         54.65
Volume         15199500
Name: 455, dtype: object
456 Date         2021-03-03
Open              55.93
High               57.8
Low               54.65
Close             56.11
Adj Close         56.11
Volume         28485400
Name: 456, dtype: object
457 Date         2021-03-04
Open              55.75
High              57.16
Low               51.61
Close             53.07
Adj Close         53.07
Volume         27409600
Name: 457, dtype: object
458 Date         2021-03-05
Open              54.28
High              55.83
Low               50.81
Close             55.54
Adj Close         55.54
Volume         31576200
Name: 458, dtype: object
459 Date         2021-03-08
Open               55.5
High              56.45
Low               52.89
Close              53.2
Adj Close          53.2
Volume         19912100
Name: 459, dtype: object
460 Date         2021-03-09
Open                 56
High              56.15
Low               54.72
Close             55.25
Adj Close         55.25
Volume         17192900
Name: 460, dtype: object
461 Date         2021-03-10
Open              57.21
High               58.9
Low               56.27
Close             57.68
Adj Close         57.68
Volume         27997000
Name: 461, dtype: object
462 Date         2021-03-11
Open               58.8
High              59.48
Low               58.22
Close             58.95
Adj Close         58.95
Volume         17293800
Name: 462, dtype: object
463 Date         2021-03-12
Open              58.97
High              60.59
Low               57.62

546 Date         2021-07-12
Open              48.87
High              49.29
Low               48.09
Close             48.41
Adj Close         48.41
Volume         14142300
Name: 546, dtype: object
547 Date         2021-07-13
Open              48.49
High              48.59
Low               47.75
Close             48.08
Adj Close         48.08
Volume         11283600
Name: 547, dtype: object
548 Date         2021-07-14
Open              48.28
High              48.59
Low               47.11
Close             47.15
Adj Close         47.15
Volume         15837000
Name: 548, dtype: object
549 Date         2021-07-15
Open              46.86
High              47.46
Low               46.15
Close             46.42
Adj Close         46.42
Volume         17225300
Name: 549, dtype: object
550 Date         2021-07-16
Open               46.4
High              47.09
Low               46.01
Close             46.19
Adj Close         46.19
Volume         18224500
Name: 550, dtype: object
551 Date         2021-07-19
Open                 45
High             45.747
Low              44.435
Close             45.56
Adj Close         45.56
Volume         20890600
Name: 551, dtype: object
552 Date         2021-07-20
Open              45.46
High              46.66
Low               45.07
Close             46.32
Adj Close         46.32
Volume         13851400
Name: 552, dtype: object
553 Date         2021-07-21
Open              46.53
High              47.94
Low               46.35
Close             47.52
Adj Close         47.52
Volume         14953700
Name: 553, dtype: object
554 Date         2021-07-22
Open               47.7
High              48.17
Low               47.24
Close             47.57
Adj Close         47.57
Volume         11560800
Name: 554, dtype: object
555 Date         2021-07-23
Open              47.61
High              47.69
Low               46.78
Close             47.46
Adj Close         47.46
Volume          9540700
Name: 555, dtype: object
556 Date         2021-07-26
Open              47.04
High               47.6
Low               46.37
Close             46.81
Adj Close         46.81
Volume         12498000
Name: 556, dtype: object
557 Date         2021-07-27
Open              46.54
High              46.66
Low              44.765
Close             45.82
Adj Close         45.82
Volume         16874200
Name: 557, dtype: object
558 Date         2021-07-28
Open              45.88
High             46.963
Low               45.81
Close             46.14
Adj Close         46.14
Volume         19510300
Name: 558, dtype: object
559 Date         2021-07-29
Open              44.12
High              45.21
Low                  44
Close             44.69
Adj Close         44.69
Volume         51033700
Name: 559, dtype: object
560 Date         2021-07-30
Open              44.38
High              44.73
Low               43.34
Close             43.46
Adj Close         43.46
Volume         22168500
Name: 560, dtype: object
561 Date         2021-08-02
Open               44.1
High              44.29
Low              43.445
Close             43.49
Adj Close         43.49
Volume         26579900
Name: 561, dtype: object
562 Date         2021-08-03
Open              43.56
High              43.68
Low               41.62
Close             42.79
Adj Close         42.79
Volume         37622200
Name: 562, dtype: object
563 Date         2021-08-04
Open               42.7
High              42.82
Low               41.37
Close             41.81
Adj Close         41.81
Volume         42969100
Name: 563, dtype: object
564 Date         2021-08-05
Open               40.5
High              44.65
Low               40.15
Close             43.07
Adj Close         43.07
Volume         60871500
Name: 564, dtype: object
565 Date         2021-08-06
Open              43.74
High             44.935
Low               43.65
Close             44.28
Adj Close         44.28
Volume         25505000
Name: 565, dtype: object
566 Date         2021-08-09
Open              44.19
High              44.27
Low               43.21
Close             43.25
Adj Close         43.25
Volume         19238400
Name: 566, dtype: object
567 Date         2021-08-10
Open               43.7
High              44.24
Low               43.25
Close              43.5
Adj Close          43.5
Volume         26675200
Name: 567, dtype: object
568 Date         2021-08-11
Open              43.41
High               43.5
Low                  42
Close             43.08
Adj Close         43.08
Volume         21766100
Name: 568, dtype: object
569 Date         2021-08-12
Open              42.86
High             42.965
Low               42.18
Close             42.73
Adj Close         42.73
Volume         16549100
Name: 569, dtype: object
570 Date         2021-08-13
Open               42.8
High              43.03
Low                42.2
Close             42.22
Adj Close         42.22
Volume          8581600
Name: 570, dtype: object
571 Date         2021-08-16
Open              41.76
High              41.79
Low               40.86
Close              41.5
Adj Close          41.5
Volume         19223500
Name: 571, dtype: object
572 Date         2021-08-17
Open                 41
High              41.48
Low               40.58
Close                41
Adj Close            41
Volume         20364400
Name: 572, dtype: object
573 Date         2021-08-18
Open              40.97
High              41.53
Low                40.8
Close             40.88
Adj Close         40.88
Volume         13682300
Name: 573, dtype: object
574 Date         2021-08-19
Open              40.28
High               40.6
Low               39.51
Close             39.86
Adj Close         39.86
Volume         22471400
Name: 574, dtype: object
575 Date         2021-08-20
Open              39.69
High              40.08
Low               39.24
Close             39.95
Adj Close         39.95
Volume         18074100
Name: 575, dtype: object
576 Date         2021-08-23
Open                 39
High              41.08
Low               38.84
Close                41
Adj Close            41
Volume         33901300
Name: 576, dtype: object
577 Date         2021-08-24
Open               41.1
High              41.21
Low               39.97
Close             40.17
Adj Close         40.17
Volume         44872800
Name: 577, dtype: object
578 Date         2021-08-25
Open              40.44
High              42.11
Low               40.04
Close             41.55
Adj Close         41.55
Volume         26498400
Name: 578, dtype: object
579 Date         2021-08-26
Open              41.49
High              41.94
Low               40.54
Close             40.62
Adj Close         40.62
Volume         17473400
Name: 579, dtype: object
580 Date         2021-08-27
Open              40.53
High              41.31
Low                40.5
Close             40.69
Adj Close         40.69
Volume         13599900
Name: 580, dtype: object
581 Date         2021-08-30
Open              40.58
High              40.74
Low               39.11
Close             39.59
Adj Close         39.59
Volume         29516300
Name: 581, dtype: object
582 Date         2021-08-31
Open              39.81
High             40.275
Low              39.125
Close             39.14
Adj Close         39.14
Volume         26396000
Name: 582, dtype: object
583 Date         2021-09-01
Open              39.98
High             41.665
Low               39.87
Close             40.62
Adj Close         40.62
Volume         27788600
Name: 583, dtype: object
584 Date         2021-09-02
Open              40.75
High              41.86
Low              40.537
Close              41.4
Adj Close          41.4
Volume         20645400
Name: 584, dtype: object
585 Date         2021-09-03
Open              41.22
High             41.575
Low               40.23
Close             40.32
Adj Close         40.32
Volume         15444900
Name: 585, dtype: object
586 Date         2021-09-07
Open              40.49
High              41.08
Low               40.31
Close             40.95
Adj Close         40.95
Volume         15708600
Name: 586, dtype: object
587 Date         2021-09-08
Open              40.85
High              41.34
Low               39.83
Close             40.07
Adj Close         40.07
Volume         16219900
Name: 587, dtype: object
588 Date         2021-09-09
Open               40.1
High              40.95
Low               39.84
Close             40.35
Adj Close         40.35
Volume         14260300
Name: 588, dtype: object
589 Date         2021-09-10
Open              40.62
High              40.83
Low              39.865
Close             39.89
Adj Close         39.89
Volume         14214400
Name: 589, dtype: object
590 Date         2021-09-13
Open              40.26
High              41.19
Low               39.26
Close             40.07
Adj Close         40.07
Volume         28868800
Name: 590, dtype: object
591 Date         2021-09-14
Open               39.9
High               40.1
Low               38.55
Close             39.01
Adj Close         39.01
Volume         36717300
Name: 591, dtype: object
592 Date         2021-09-15
Open                 39
High                 39
Low               38.08
Close             38.48
Adj Close         38.48
Volume         30368800
Name: 592, dtype: object
593 Date         2021-09-16
Open               38.3
High              39.67
Low               38.09
Close             39.52
Adj Close         39.52
Volume         25374000
Name: 593, dtype: object
594 Date         2021-09-17
Open               39.9
High             40.225
Low               39.29
Close             39.75
Adj Close         39.75
Volume         32165000
Name: 594, dtype: object
595 Date         2021-09-20
Open              38.88
High              40.22
Low               38.73
Close             39.79
Adj Close         39.79
Volume         35417600
Name: 595, dtype: object
596 Date         2021-09-21
Open              42.34
High                 45
Low               42.18
Close             44.36
Adj Close         44.36
Volume        106631700
Name: 596, dtype: object
597 Date         2021-09-22
Open               44.9
High              46.62
Low               44.61
Close             44.87
Adj Close         44.87
Volume         56455100
Name: 597, dtype: object
598 Date         2021-09-23
Open              45.35
High              45.84
Low               44.71
Close             45.48
Adj Close         45.48
Volume         26232800
Name: 598, dtype: object
599 Date         2021-09-24
Open              45.46
High             47.045
Low              45.291
Close             46.63
Adj Close         46.63
Volume         29458300
Name: 599, dtype: object
600 Date         2021-09-27
Open              46.77
High              47.43
Low               46.19
Close             47.25
Adj Close         47.25
Volume         23034800
Name: 600, dtype: object
601 Date         2021-09-28
Open               46.7
High                 47
Low               45.76
Close             45.98
Adj Close         45.98
Volume         23707900
Name: 601, dtype: object
602 Date         2021-09-29
Open                 46
High              46.53
Low                44.3
Close             44.52
Adj Close         44.52
Volume         24599500
Name: 602, dtype: object
603 Date         2021-09-30
Open              44.71
High             45.365
Low               43.86
Close              44.8
Adj Close          44.8
Volume         16650600
Name: 603, dtype: object
604 Date         2021-10-01
Open             45.915
High              47.25
Low               45.79
Close             47.05
Adj Close         47.05
Volume         25428283
Name: 604, dtype: object

In [23]:
for index, row in df.iterrows():
    print(index,row['Volume'])

0 186322500
1 79442400
2 46661100
3 36086100
4 38115500
5 20225700
6 29222300
7 10802900
8 9089500
9 11119900
10 8786800
11 13391600
12 14060400
13 26451900
14 23209800
15 16605300
16 23432100
17 28609600
18 16403700
19 12654700
20 11618700
21 9095000
22 5965300
23 10178900
24 7902200
25 6557600
26 7313600
27 10331500
28 9567400
29 4974000
30 5985100
31 5753300
32 8109100
33 20155100
34 28657000
35 17660500
36 11881300
37 3380000
38 8239500
39 9304100
40 5251600
41 9746500
42 8050900
43 8760500
44 5811200
45 5613300
46 5854100
47 4078700
48 4021000
49 3815300
50 5110100
51 3775700
52 4412000
53 7598800
54 8652200
55 7686300
56 5970800
57 7349700
58 8225700
59 9799300
60 8570300
61 8896000
62 29610500
63 35138800
64 21231300
65 18990600
66 24481600
67 13265800
68 13883200
69 10853100
70 10760700
71 7923000
72 8513300
73 8160600
74 5662500
75 6574800
76 6245500
77 5772200
78 6628700
79 12154000
80 10357600
81 7933300
82 7036000
83 7448400
84 10817100
85 14715800
86 7734800
87 9428600
88 7942600
89 5561300
90 6608300
91 6869600
92 11935400
93 5513000
94 10579900
95 7875000
96 6058700
97 11846700
98 4986600
99 13380200
100 8782400
101 9412000
102 8597700
103 10083800
104 7769100
105 7112900
106 7716300
107 10216900
108 7945400
109 7843800
110 7781600
111 7200800
112 7844500
113 7203400
114 19214800
115 6709800
116 6729300
117 8077300
118 7532800
119 9319200
120 10732700
121 15912400
122 10434300
123 28787400
124 51963500
125 130965700
126 65861400
127 44923600
128 41138100
129 37095400
130 32678300
131 27893900
132 41236200
133 35916100
134 31793500
135 52746600
136 54551400
137 42302900
138 36967500
139 28746600
140 22421400
141 8115100
142 16927100
143 25252400
144 22517600
145 22504300
146 32816100
147 20977300
148 23602700
149 23281700
150 23569900
151 25431600
152 57382500
153 38250700
154 35375100
155 33799700
156 95455100
157 31209100
158 12938600
159 22200800
160 18462200
161 18805900
162 16228400
163 20578900
164 18822700
165 21204700
166 30119600
167 43944400
168 29385500
169 34266400
170 16915800
171 26019000
172 20762200
173 21947800
174 17251200
175 48746700
176 29765200
177 21366000
178 21598000
179 18818000
180 28974000
181 16863000
182 22847000
183 21553700
184 23494600
185 32425900
186 38413300
187 52699300
188 112325800
189 60840800
190 33896000
191 26444900
192 23850900
193 32014200
194 22149300
195 23287300
196 25446400
197 20595500
198 37123200
199 49281600
200 44051400
201 66557200
202 52049300
203 46662000
204 35182400
205 44738600
206 32764500
207 34808700
208 37439200
209 36308300
210 43067800
211 54042000
212 53844400
213 56914000
214 60003900
215 78286200
216 83988700
217 76529700
218 47787100
219 58505000
220 52473900
221 41336400
222 40292200
223 37725700
224 43126400
225 38538400
226 35838200
227 40572000
228 34692600
229 36433800
230 36166900
231 36190200
232 24671600
233 32625300
234 18720900
235 24088700
236 34129800
237 32224000
238 20969100
239 21199400
240 26992400
241 20634900
242 31705800
243 27383200
244 28288100
245 20095400
246 19290200
247 23428300
248 30725400
249 31076500
250 62229500
251 69458100
252 26439200
253 89586000
254 47279500
255 32912600
256 25950000
257 47534600
258 20223600
259 21386700
260 24075300
261 18675700
262 23483200
263 27514600
264 21951900
265 72393800
266 21893800
267 19328400
268 23051800
269 17423600
270 30393400
271 30099500
272 15127300
273 43473700
274 45298700
275 27685200
276 21350300
277 21377100
278 14827700
279 15495800
280 29426300
281 17790300
282 13622100
283 29477200
284 19142800
285 46482300
286 20795400
287 21282800
288 13611500
289 14981100
290 42392200
291 34874700
292 24602400
293 25061800
294 13586300
295 19604800
296 21781800
297 20976500
298 11090800
299 13658700
300 16213600
301 16725100
302 12128400
303 12749800
304 16896100
305 10182300
306 12977100
307 8215900
308 13062900
309 16346800
310 17078900
311 21958100
312 16987800
313 38601500
314 39071200
315 21347600
316 31569900
317 23375900
318 21976800
319 17631600
320 18544700
321 29398200
322 14050300
323 56663300
324 20217000
325 17406200
326 10056800
327 20599800
328 21306500
329 17825600
330 14980600
331 16013900
332 16552700
333 17288800
334 17480600
335 33683500
336 22803500
337 35468300
338 27130900
339 28016000
340 23532600
341 21787100
342 23534800
343 68428600
344 19100800
345 28242800
346 15796900
347 16404100
348 10736300
349 22878400
350 16488700
351 21386300
352 19187500
353 20123400
354 13093100
355 13074700
356 13782100
357 12212400
358 13172000
359 16569400
360 15463100
361 15397200
362 15443800
363 14899700
364 19278600
365 29820700
366 19058700
367 14243600
368 15960600
369 12511700
370 13692100
371 15787900
372 13735300
373 13506200
374 18350500
375 16208800
376 101818200
377 34177600
378 57670700
379 61632300
380 33079800
381 19213700
382 16251600
383 15552400
384 29301700
385 16638300
386 17783500
387 13480300
388 17330400
389 17147100
390 16216200
391 11641600
392 8339200
393 17221500
394 20605500
395 30381500
396 13122400
397 22207900
398 13764400
399 26167300
400 46777900
401 20207700
402 16817900
403 19048500
404 17504700
405 19577800
406 19688300
407 24355200
408 23562900
409 23871800
410 12671100
411 6316800
412 12059000
413 10140600
414 9518600
415 13282800
416 17291800
417 21403200
418 17738100
419 23737500
420 37999400
421 23213800
422 52128200
423 24178500
424 26561000
425 23708800
426 16953700
427 16904300
428 13432000
429 19570500
430 40890100
431 25677000
432 33283400
433 28114700
434 18743200
435 15570900
436 30286800
437 13519000
438 13841600
439 15729200
440 18403700
441 23510700
442 36972900
443 41363400
444 14607800
445 15413100
446 12670000
447 15135600
448 28097000
449 25565400
450 23947500
451 24627000
452 27049100
453 16349800
454 18481100
455 15199500
456 28485400
457 27409600
458 31576200
459 19912100
460 17192900
461 27997000
462 17293800
463 14839300
464 14985000
465 12885700
466 25509900
467 15737000
468 17396300
469 14149400
470 14513500
471 13700800
472 13210700
473 13528200
474 9724800
475 9497200
476 14760500
477 18703400
478 13490200
479 13579200
480 12921900
481 9498500
482 10228500
483 36041300
484 21006100
485 18959800
486 17500200
487 11856100
488 16956900
489 19081100
490 11523900
491 16936200
492 8758800
493 8361600
494 12926800
495 9269700
496 43408000
497 16736600
498 13903300
499 19336600
500 43970500
501 79242400
502 27933900
503 28309800
504 29106900
505 32117400
506 36205100
507 25323300
508 17475300
509 28244400
510 16517500
511 18822300
512 20013200
513 16768400
514 16930900
515 16393700
516 51346000
517 14226800
518 16583800
519 13484200
520 14712900
521 10409800
522 16466200
523 19672700
524 12615200
525 14926500
526 12127100
527 15437300
528 20358600
529 18975800
530 18911400
531 20633500
532 30752200
533 19472500
534 19843300
535 12403300
536 25727800
537 22518000
538 14104200
539 18069400
540 17727600
541 13690400
542 21357800
543 24559500
544 24930200
545 15401000
546 14142300
547 11283600
548 15837000
549 17225300
550 18224500
551 20890600
552 13851400
553 14953700
554 11560800
555 9540700
556 12498000
557 16874200
558 19510300
559 51033700
560 22168500
561 26579900
562 37622200
563 42969100
564 60871500
565 25505000
566 19238400
567 26675200
568 21766100
569 16549100
570 8581600
571 19223500
572 20364400
573 13682300
574 22471400
575 18074100
576 33901300
577 44872800
578 26498400
579 17473400
580 13599900
581 29516300
582 26396000
583 27788600
584 20645400
585 15444900
586 15708600
587 16219900
588 14260300
589 14214400
590 28868800
591 36717300
592 30368800
593 25374000
594 32165000
595 35417600
596 106631700
597 56455100
598 26232800
599 29458300
600 23034800
601 23707900
602 24599500
603 16650600
604 25428283

In [24]:
# specific rows founding example
df.loc[df['Adj Close'] >= 39.959999 ]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500
5,2019-05-17,41.980000,43.290001,41.270000,41.910000,41.910000,20225700
6,2019-05-20,41.189999,41.680000,39.459999,41.590000,41.590000,29222300
...,...,...,...,...,...,...,...
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283


# Sorting/Describing Data

In [25]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,605.000000,605.000000,605.000000,605.000000,605.000000,6.050000e+02
mean,40.237056,41.010066,39.353188,40.189917,40.189917,2.357439e+07
std,9.796123,9.878262,9.649565,9.737607,9.737607,1.727050e+07
min,15.960000,17.799999,13.710000,14.820000,14.820000,3.380000e+06
25%,32.369999,33.020000,31.450001,32.470001,32.470001,1.352820e+07
50%,38.880001,39.240002,37.389999,38.480000,38.480000,1.922350e+07
75%,48.490002,49.619999,47.750000,48.410000,48.410000,2.860960e+07
max,63.250000,64.050003,60.799999,63.180000,63.180000,1.863225e+08

In [26]:
df.sort_values(['Date'], ascending=False) #descending values

,Date,Open,High,Low,Close,Adj Close,Volume
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800
...,...,...,...,...,...,...,...
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500

In [27]:
df.sort_values(['Date', 'Adj Close', 'Volume'], ascending=False) # decending values

,Date,Open,High,Low,Close,Adj Close,Volume
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800
...,...,...,...,...,...,...,...
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500

In [28]:
df.sort_values(['Date', 'Adj Close', 'Volume'], ascending=[1,0,0]) # 1 means 1 parameter go ascending and 0 means that second and third cloum will be in descending order

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500
...,...,...,...,...,...,...,...
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283

# Changeing In Data

In [29]:
df['OpenCloseDifference'] = df['Open'] - df['Close']
df['HighLowDifference'] = df['High'] - df['Low']

df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,OpenCloseDifference,HighLowDifference
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500,0.430000,3.939999
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400,1.690003,3.160000
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100,-1.649998,3.110001
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100,-1.920002,2.930000
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500,-1.520000,2.810001
5,2019-05-17,41.980000,43.290001,41.270000,41.910000,41.910000,20225700,0.070000,2.020001
6,2019-05-20,41.189999,41.680000,39.459999,41.590000,41.590000,29222300,-0.400001,2.220001
7,2019-05-21,42.000000,42.240002,41.250000,41.500000,41.500000,10802900,0.500000,0.990002
8,2019-05-22,41.049999,41.279999,40.500000,41.250000,41.250000,9089500,-0.200001,0.779999
9,2019-05-23,40.799999,41.090000,40.020000,40.470001,40.470001,11119900,0.329998,1.070000

In [30]:
# other way to do it so let me first delete colums

df=df.drop(columns=['OpenCloseDifference', 'HighLowDifference'])
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500
...,...,...,...,...,...,...,...
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283

In [52]:
# again adding in other way
df['Add'] = df.iloc[:,1:4].sum(axis=1)
df

,Date,Open,High,Low,Close,Adj Close,Volume,OpenCloseAdd,Add
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500,128.060001,128.060001
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400,114.110005,114.110005
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100,115.119998,115.119998
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100,120.200001,120.200001
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500,126.790001,126.790001
...,...,...,...,...,...,...,...,...,...
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800,140.389999,140.389999
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900,139.459999,139.459999
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500,136.829998,136.829998
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600,133.935002,133.935002
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283,138.955002,138.955002

In [55]:
42.000000+45.000000+41.060001

128.060001

#  Saving our Data (Exporting into Desired Format

In [56]:
df.to_csv('modified.csv', index=False)

In [57]:
#df.to_excel('modified.xlsx', index=False) # to excel 
#df.to_csv('modified.txt', index=False, sep='\t') # to txt file

# Filtering Data

In [60]:
new_df = df.loc[(df['Volume'] >=  41.290001) | (df['Adj Close'] >= 133.935002) | (df['Close'] > 39.959999)]
new_df

,Date,Open,High,Low,Close,Adj Close,Volume,Add
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500,128.060001
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400,114.110005
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100,115.119998
3,2019-05-15,39.369999,41.880001,38.950001,41.290001,41.290001,36086100,120.200001
4,2019-05-16,41.480000,44.060001,41.250000,43.000000,43.000000,38115500,126.790001
...,...,...,...,...,...,...,...,...
600,2021-09-27,46.770000,47.430000,46.189999,47.250000,47.250000,23034800,140.389999
601,2021-09-28,46.700001,47.000000,45.759998,45.980000,45.980000,23707900,139.459999
602,2021-09-29,46.000000,46.529999,44.299999,44.520000,44.520000,24599500,136.829998
603,2021-09-30,44.709999,45.365002,43.860001,44.799999,44.799999,16650600,133.935002
604,2021-10-01,45.915001,47.250000,45.790001,47.049999,47.049999,25428283,138.955002